$size: min(766px, 68vh);

.game {
    position: relative;
    padding: 50px 0 35px;
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;

    &::after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        background: #CEBC9C;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 0;
    }

    &-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-left {
            max-width: 275px;
            margin-right: 28px;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .left-top {
                display: flex;
                flex-wrap: wrap;
                gap: 9px;

                .top-item {
                    padding: 0 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    height: 58px;
                    background: rgba(216, 206, 184, .8);
                    border-radius: 14px;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 19px;
                    color: #BC8B5C;

                    &:first-of-type {
                        flex: 100%;
                    }

                    .top-item-text {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 19px;
                        color: #000000;
                    }

                    .top-item-value {
                        margin-left: 18px;
                        margin-right: 7px;
                    }

                    .top-item-pool {
                        flex-shrink: 0;
                        width: 22px;
                        height: 30px;
                        background-image: url('@/assets/game/top-pool.png');
                        background-size: cover;
                    }

                    .top-item-star {
                        flex-shrink: 0;
                        width: 30px;
                        height: 24px;
                        background-image: url('@/assets/game/top-star.png');
                        background-size: cover;
                        transition: transform 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    .top-item-step {
                        flex-shrink: 0;
                        width: 24px;
                        height: 30px;
                        background-image: url('@/assets/game/top-step.png');
                        background-size: cover;
                        margin-right: 15px;
                    }
                }
            }

            .left-bottom {
                .bottom-value {
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 36px;
                    color: #BC8B5C;
                }

                .bottom-desc {
                    margin-top: 13px;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 14px;
                    color: #FFFFFF;
                }
            }
        }

        &-right {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: 1;

            .right-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 218px;
                height: 60px;
                font-family: Poppins;
                font-weight: 500;
                font-size: 25px;
                color: #FFFFFF;
                text-shadow: 0px 2px 1px rgba(151, 39, 0, 0.63);
                background-image: url('@/assets/game/new-game.png');
                background-size: contain;
                cursor: pointer;
            }
        }

        &-content {
            margin-top: 42px;
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            width: $size;
            height: $size;
            background-image: url('@/assets/game/game-border.png');
            background-size: cover;

            .content-bg1 {
                position: absolute;
                top: 50%;
                left: -210px;
                transform: translate(0, -50%);
                width: 210px;
                height: 656px;
                background-image: url('@/assets/game/game-left.png');
                background-size: cover;
            }

            .content-bg2 {
                position: absolute;
                top: 50%;
                right: -210px;
                transform: translate(0, -50%);
                width: 210px;
                height: 656px;
                background-image: url('@/assets/game/game-right.png');
                background-size: cover;
            }
        }

    }
}