.created {
    padding-top: 4px;

    &-list {
        margin-top: 20px;
    }
}

.detail {
    padding: 20px 30px;
    display: inline-flex;
    gap: 50px;
    align-items: center;
    background: #F6F6F6;
    border-radius: 15px;

    &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #808080;
        }

        &-value {
            font-family: Poppins;
            font-size: 26px;
            font-weight: 600;
            line-height: 39px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000;
        }
    }

    &-equal {
        width: 24px;
        height: 24px;
        background-image: url('@/assets/profile/equal.png');
        background-size: cover;
    }

    &-add {
        width: 24px;
        height: 24px;
        background-image: url('@/assets/profile/add.png');
        background-size: cover;
    }

    &-pending {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        background: #EDEDED;
        border-radius: 10px;

        &-btn {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 50px;
            padding: 10px 30px;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            border: 1px solid #3297FC;
            border-radius: 130px;
            color: #3297FC;
        }
    }
}