.modal {
    position: relative;

    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 84px;
        background-image: url('@/assets/game/modal-title.png');
        background-size: cover;

        &-icon {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            top: 20px;
            left: 20px;
            width: 46px;
            height: 46px;
            background-image: url('@/assets/game/modal-close.png');
            background-size: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        &-text {
            font-family: Poppins;
            font-size: 36px;
            font-weight: 800;
            line-height: 54px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #fff;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 470px;
        background-image: url('@/assets/game/modal-game-success.png');
        background-size: cover;
        background-position: bottom;

        &-card {
            width: 448px;
            height: 70px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            background: #DBCCB5;
            border-radius: 15px;
            margin-bottom: 20px;

            .card-icon {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
            }

            .card-text {
                margin-left: 10px;
                flex: 1;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: #292D32;
            }

            .card-value {
                font-family: Poppins;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }

            .card-left {
                &-title {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    color: #292D32;
                    margin-bottom: 10px;
                }

                &-value {
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    text-align: left;
                    color: #292D32;
                }
            }

            .card-right {
                padding: 10px 20px;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 600;
                line-height: 27px;
                text-align: center;
                color: #3297FC;
                cursor: pointer;
                background: rgba(50, 151, 252, 0.1);
                border-radius: 130px;
            }

            &:nth-of-type(1) {
                margin-top: 36px;

                .card-icon {
                    background-image: url('@/assets/game/modal-step-icon.png');
                    background-size: cover;
                }

                .card-value {
                    color: #3297FC;
                }
            }

            &:nth-of-type(2) {
                .card-icon {
                    background-image: url('@/assets/game/top-star.png');
                    background-size: 100% 100%;
                }

                .card-value {
                    color: #FF9800;
                }
            }

            &:nth-of-type(3) {
                height: 104px;
                margin-bottom: 0;
            }
        }

        &-btn {
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 270px;
            height: 72px;
            background-image: url('@/assets/game/new-game.png');
            background-size: 100% 100%;
            font-family: Poppins;
            font-size: 28.07px;
            font-weight: 800;
            line-height: 42.11px;
            color: #fff;
        }
    }

    :global {
        .ant-modal-content {
            padding: 0;
            border-radius: 24px;
        }
    }
}